{% extends "layout.html" %}


{% block content %}
<form action="search" method="POST">
    <input name="search_word"></input>
    <br>
    
    <input type="checkbox" name="field_checkbox" value="project_no" checked="checked">Projekt ID
    <input type="checkbox" name="field_checkbox" value="project_name" checked="checked">Projektnamn
    <input type="checkbox" name="field_checkbox" value="course_name" checked="checked">Course name
    <input type="checkbox" name="field_checkbox" value="course_id" checked="checked">Course ID
    <input type="checkbox" name="field_checkbox" value="start_date" checked="checked">Start date
    <input type="checkbox" name="field_checkbox" value="end_date" checked="checked">End Date
    <input type="checkbox" name="field_checkbox" value="group_size" checked="checked">Group size
    <input type="checkbox" name="field_checkbox" value="academic_credits" checked="checked">Academic credits
    <input type="checkbox" name="field_checkbox" value="techniques_used" checked="checked">Techniques
    <br>
    <input type="submit" value="Search"></input>
</form>
{% for project in data %}
	<li>Projekt id: {{project["project_no"]}}</li>
	<li>Projekt: {{project["project_name"]}}</li>
	<li>Course name: {{project["course_name"]}}</li>
	<li>Course ID: {{project["course_id"]}}
	<li>Start date: {{project["start_date"]}}</li>
	<li>End date: {{project["end_date"]}}</li>
	<li>Group size: {{project["group_size"]}}</li>
	<li>Academic credits: {{project["academic_credits"]}}</li>
	<li>Techniques used</li>
	<ul>
		{% for technique in project["techniques_used"] %}
			<li>{{technique}}</li>
		{% endfor %}
	</ul>
	<li>Description: {{project["long_description"]}}</li>
	<br>
{% endfor %}

{% endblock %}