{% extends "layout.html" %}

{% block content %}
<form action="search" method="POST">
    <input name="key"></input>
    <input type="submit" value="Do search"></input>
</form>
{% for project in data %}
	<li>Projekt id: {{project["project_no"]}}</li>
	<li>Projekt: {{project["project_name"]}}</li>
	<li>Course name: {{project["course_name"]}}</li>
	<li>Course ID: {{project["course_id"]}}
	<li>Start date: {{project["start_date"]}}</li>
	<li>End date: {{project["end_date"]}}</li>
	<li>Group size: {{project["group_size"]}}</li>
	<li>Academic credits: {{project["academic_credits"]}}</li>
	<li>Techniques used</li>
	<ul>
		{% for technique in project["techniques_used"] %}
			<li>{{technique}}</li>
		{% endfor %}
	</ul>
	<li>Description: {{project["long_description"]}}</li>
{% endfor %}

{% endblock %}